<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="theme-color" content="#ffffff">
    <meta name="generator" content="https://github.com/mitjafelicijan/staticgen">

    <link rel="preconnect" href="https://www.google-analytics.com">

    <title>{{ global.title }}</title>
    <meta name="author" content="{{ global.author }}">
    <meta name="description" content="{{ global.description }}">

    <meta property="og:title" content="{{ global.title }}">
    <meta property="og:description" content="{{ global.description }}">
    <meta property="og:url" content="{{ global.domain }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ global.twitter }}">

    <link rel="alternate" type="application/atom+xml" title="{{ global.author }}'s feed" href="/feed.atom">
    <link rel="stylesheet" href="/static/style.css?v={{ "now"|date("YmdHi") }}">
    <link rel="icon" type="image/png" href="/static/avatar-64x64.png?v={{ "now"|date("YmdHi") }}">

  </head>

  <body>

    <main>

      {% include "partials/navigation.twig" %}

      <h2>Posts</h2>
      {% include "partials/posts.twig" %}


      <h2>Projects</h2>
      {% include "partials/projects.twig" %}

    </main>

    <!-- google analytics -->
    {{ global.ga }}

  </body>

</html>
