<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="theme-color" content="#ffffff">
    <meta name="generator" content="https://github.com/mitjafelicijan/staticgen">

    {% include "partials/preconnect.twig" %}

    <title>{{ options.title }}</title>
    <meta name="author" content="{{ global.author }}">
    <meta name="description" content="{{ options.description }}">

    <meta property="og:title" content="{{ options.title }}">
    <meta property="og:description" content="{{ options.description }}">
    <meta property="og:url" content="{{ global.domain }}{{ options.slug }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ global.twitter }}">

    <link rel="alternate" type="application/atom+xml" title="{{ global.author }}'s feed" href="/feed.atom">
    <link rel="stylesheet" href="/static/style.css?v={{ "now"|date("YmdHi") }}">
    <link rel="icon" type="image/png" href="/static/avatar-64x64.png?v={{ "now"|date("YmdHi") }}">

  </head>

  <body>

    <main>

      {% include "partials/navigation.twig" %}

      <article>
        <header>
          <h1>{{ options.title }}</h1>
          <div class="info">
            <time datetime="{{ options.date|date("Y, F j") }}">{{ options.date|date("Y, F j") }}</time>
            <span>by {{ global.author }}</span>
          </div>
        </header>
        {{ content }}
      </article>

    </main>

    <!-- code highlighting -->
    {{ global.highlight }}

    <!-- google analytics -->
    {{ global.ga }}

  </body>

</html>
